{% extends layout %}

{% block top %}
<div class="jumbotron">
      <h1>Local Treasures</h1>
  <p class="lead">Close to you</p>
  <p class="lead">Join the game!</h2>
      <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
    </div>
{% endblock %}
{% block main %}
 <div class="row marketing">
      <div class="col-lg-6">
      <h4>What's interesting?</h4>
      <p>Do you wonder what the artist was thinking when she created the sculpture right in front of you? What's the story behind that strange outcrop on the interesting building on the corner.</p>
  </div>
  <div class="col-lg-6">
      <h4>Close to you</h4>
  <p>Maybe this application can answer your questions, or maybe you know the answers and would like to tell everybody?</p>
  <p>Learn something new? Maybe a bit bored? Let Local Treasures entertain you.</p>
      <h4>Join the game!</h4>
  <p>The app can tell you where the closest points of interest is.</p>
  </div>
  </div>
  {% endblock %}