<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

  <title>Local Treasures</title>
  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
  <!-- Custom styles for this template -->
  <!--<link href="{{ app.request.basepath }}/css/carousel.css" rel="stylesheet">-->
  <link href="{{ app.request.basepath }}/css/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/register">New user</a></li>
        <li><a href="/newfact">New Fact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/listfacts">See facts</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>

      </ul>
      <h3 class="text-muted">Local Treasures</h3>
    </div>

        {% block top %} {% endblock %}
        {% block main %} {% endblock %}
        {% block kolonne_1 %} {% endblock %}
      {% block kolonne_2 %} {% endblock %}
      {% block kolonne_3 %} {% endblock %}
  

    <div class="footer">
      <p>&copy; Company 2013</p>
    </div>

  </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/gmap3.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/localtreasures.js"></script>
  </body>
  </html>
