{% extends layout %}
{% block top %}
<form action="/newfact" method="post">
    <div class="form-group">
    {{ form_row( form.category, { 'attr' : { 'class' : 'form-control' } } )}}
    </div>
    <div class="form-group">
        {{ form_row( form.description, { 'attr' : { 'class' : 'form-control' } } )}}
    </div>
    <div class="form-group">
    {{ form_row( form.location, { 'attr' : { 'class' : 'form-control' } } )}}
    </div>
    <input type="submit" name="submit" class="btn btn-lg btn-primary btn-block" />
</form>
{% endblock %}