{% extends layout %}
{% block content %}
<form action="/register" method="post">
    {{ form_widget(form) }}

    <input type="submit" name="submit" class="btn btn-lg btn-primary btn-block" />
</form>
{% endblock %}
